.news
  flex-basis: 860px
  &_all_btn
    display: block
    cursor: pointer
    background-color: transparent
    width: 185px
    height: 48px
    border: 1px solid #000000
    margin: 32px auto 0
    font-size: 18px
    font-weight: bold
    text-align: center
    line-height: 48px
    text-decoration: none
    color: #000
    transition: all .3s ease
    &:hover
      background-color: #000
      color: #fff
      transition: all .3s ease
  &_list
    display: flex
    justify-content: center
    flex-wrap: wrap
    gap: 58px 56px
    &_horizontal
      display: flex
      justify-content: flex-start
      flex-direction: column
      width: 100%
      .news
        &_item
          position: relative
          width: auto
          height: 150px
          display: block
          flex-direction: row
          margin-bottom: 30px
          transition: all .3s ease
          &::before
            content: ''
            position: absolute
            background-color: rgba(0, 0, 0, 0.15)
            width: 100%
            height: 2px
            top: -30px
            left: 0
          &:first-child
            &::before
              display: none
          &:hover
            transition: all .3s ease
            .news_item_content
              box-shadow: 0px 58px 30px -40px rgba(0, 0, 0, 0.25)
              transition: all .3s ease
              &::after
                width: 50px
                transition: all .3s ease
          &_content
            position: relative
            background-color: #fff
            padding-left: 110px
            margin-right: 27px
            transform: translate(27px, 27px)
            padding-top: 15px
            height: 97px
            transition: all .3s ease
            &::before
              content: '\f061'
              position: absolute
              right: 0
              top: 0
              font-family: 'Font Awesome 5 Pro'
              color: #fff
              width: 50px
              height: 100%
              text-align: center
              line-height: 97px
              z-index: 10
            &::after
              content: '\f061'
              position: absolute
              right: 0
              top: 0
              background-color: #000
              width: 10px
              height: 100%
              transition: all .3s ease

          &_media
            position: absolute
            left: 0
            top: 0
            width: 110px
            height: 110px
            z-index: 20
          &_bottom
            font-size: 14px
            line-height: 18px
            display: flex
            align-items: center
            color: rgba(0, 0, 0, 0.5)
            gap: 0 17px
          &_view_count
            position: relative
            color: #8C8C8C
            bottom: 0
            &::before
              content: ''
              position: absolute
              left: -12px
              width: 1px
              height: 100%
              background-color: #8C8C8C
          &_date
            color: #8C8C8C
            margin: 0
          &_title
            position: relative
            font-size: 24px
            font-weight: bold
            line-height: 100%
            max-height: 50px
            margin-bottom: 10px
            overflow: hidden
  &_wrap
    position: relative
  &_item
    display: flex
    justify-content: flex-start
    flex-direction: column
    width: 249px
    text-decoration: none
    color: #000
    &:hover
      color: #000
      .news_item_title
        transition: all .3s ease
        text-decoration: underline
    // height: 320px
    &_media
      position: relative
      width: 100%
      height: 246px
      background-color: #C4C4C4
      background-attachment: scroll
      background-position: 50% 50%
      background-size: cover
      &:hover
        &::before
          height: 100%
          transition: height .1s ease-in
      &::before
        content: ''
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(#000,0.2)
    &_view_count
      position: absolute
      left: 7px
      color: #fff
      bottom: 13px
      font-size: 14px
      line-height: 100%
    &_date
      color: #8C8C8C
      margin: 17px 0
    &_title
      position: relative
      font-size: 24px
      font-weight: bold
      line-height: 100%
      max-height: 50px
      overflow: hidden
      // &::before
      //   content: ''
      //   position: absolute
      //   bottom: 0
      //   left: 0
      //   width: 100%
      //   height: 100%
      //   background: linear-gradient(0deg, rgba(#e5e5e5,1) 5%, rgba(255,255,255,0) 100%)
  &_detail
    &_media
      position: relative
      width: 100%
      height: 300px
      background-color: #C4C4C4
      background-attachment: scroll
      background-position: 50% 50%
      background-size: cover
      margin-bottom: 30px
      &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(0,0,0,.2)
    &_head
      position: absolute
      bottom: 34px
      left: 26px
    &_title
      font-weight: bold
      font-size: 24px
      line-height: 100%
      color: #FFFFFF
      margin-bottom: 14px
    &_date_and_views
      font-size: 14px
      line-height: 18px
      display: flex
      align-items: center
      color: rgba(0, 0, 0, 0.5)
      color: #fff
      gap: 0 17px
      & .news_detail_date
        color: #fff
      & .news_detail_view_count
        position: relative
        color: #fff
        bottom: 0
        &::before
          content: ''
          position: absolute
          left: -12px
          width: 1px
          height: 100%
          background-color: #fff
    &_socicon
      display: flex
      justify-content: center
      flex-direction: row
      list-style: none
      gap: 0 15px
      li
        a
          display: block
          cursor: pointer
          width: 29px
          height: 29px
          border: 1px solid #000
          text-align: center
          transition: all .3s ease
          &:hover
            color: #fff
            background-color: #000
            transition: all .3s ease
    &_content
      position: relative
      font-size: 18px
      line-height: 150%
      text-indent: 30px
      margin-bottom: 65px
      &::before
        content: ''
        position: absolute
        bottom: -30px
        left: 0
        right: 0
        margin: auto
        width: 350px
        height: 2px
        background-color: rgba(0, 0, 0, 0.15)
.count
  flex-basis: 700px
  &_list
    position: relative
    display: flex
    flex-wrap: wrap
    gap: 164px 150px
    justify-content: center
    &::before
      content: ''
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
      margin: auto
      width: 2px
      height: 100%
      border-left: 28px solid #e5e5e5
      border-right: 28px solid #e5e5e5
      background-color: rgba(0, 0, 0, 0.15)
    &::after
      content: ''
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
      margin: auto
      width: 100%
      height: 2px
      background-color: rgba(0, 0, 0, 0.15)
      z-index: -1
  &_item
    display: flex
    flex-direction: column
    justify-content: center
    background-color: #fff
    box-shadow: 0px 54px 30px -40px rgba(0, 0, 0, 0.25)
    width: 270px
    height: 246px
    &_num
      font-weight: bold
      font-size: 90px
      line-height: 100%
      margin: 0 auto
    &_title
      margin: 0 auto
      max-width: 164px
      font-weight: bold
      line-height: 100%
      font-size: 18px